.fotoprofil {
    background-size: cover; 
    height: 50px; 
    width: 50px; 
    border-radius: 100%; 
    border: 2px solid #FFAF00 ;
}

.login, .register {
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100px;
    border-radius: 10px;
    color: white;
}

.register {
    background-color: #FFAF00;
    margin-left: 20px;
}

.dropdown-menu.show {
    position: absolute;
    left: -235% !important;
    top: 110% !important;
    --bs-dropdown-bg: translate;
    border: 0px;
    /* padding-right: 300px; */
}

.fotoprofil .dropdown-toggle::after {
    display: none;
  }