.imagenavbar {
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.login, .register {
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100px;
    border-radius: 10px;
}

.register {
    background-color: #FFAF00;
    margin-left: 20px;
}
