.imagenavbar {
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.fotoprofil {
    background-size: cover; 
    height: 50px; 
    width: 50px; 
    border-radius: 100%; 
    border: 2px solid #FFAF00 ;
}

.login, .register {
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100px;
    border-radius: 10px;
}

.register {
    background-color: #FFAF00;
    margin-left: 20px;
}

.dropdown-menu.show {
    position: absolute;
    left: -235% !important;
    top: 110% !important;
    --bs-dropdown-bg: translate;
    border: 0px;
    /* padding-right: 300px; */
}

/* .fotoprofil {
    width:220px; 
    height:187px; 
    border-radius:10px; 
    padding:24px 0px 13.5px 0px; 
    border:1px solid black; 
    position:relative;
} */

.fotoprofil .dropdown-toggle::after {
    display: none;
  }