.PaymentTabel div {
    border-bottom: 1px solid #B7B7B7;
    padding-bottom: 12px;
}

.PaymentTabel2 div {
    border-bottom: 1px solid #B7B7B7;
    padding: 8px 0px 10px;
}

.PaymentTabel3 div {
    padding: 12px 0px 17px;
}