.cardTour {
    display: flex;
    background-color: red;
}

.image {
    background-size: cover;
    /* background-image: url(); */
}

.date {
    position: absolute;
    top: 15%;
    background-color: white;
    border-radius: 5px;
    padding: 2px 15px 2px 4px;
    font-weight: 400;
    font-size: 15px;
}

.destination {
    margin: 7px 0px;
    padding-top:5px;
    font-weight:500;
    font-size:20px;
}