.image {
    background-size: cover;
    /* background-image: url(); */
}

.date {
    position: absolute;
    right: -10px;
    top: 15%;
    background-color: white;
    border-radius: 5px;
    padding: 2px 15px 2px 4px;
    font-weight: 400;
    font-size: 15px;
}

.destination {
    padding-top:5px;
}

/* ------------------------------css information------------------------------ */
.containerInformation {
    width: 1250px;
    display:flex;
    justify-content: space-between; 
    margin:50px auto 0px; 
    padding:0px 10px;
}

.cardInformation {
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 50px;
    border: 0px;
}

.title {
    margin-top: 15px;
    font-size: 25px;
    color: black;
}

.info {
    font-weight: 500;
    margin-top: 10px;
    color:black;
    font-size: 15px;
}

/* ------------------------------card tour------------------------------ */

.cardTour {
    display: flex;
    background-color: red;
}

.image {
    background-size: cover;
    /* background-image: url(); */
}

.date {
    position: absolute;
    top: 15%;
    background-color: white;
    border-radius: 5px;
    padding: 2px 15px 2px 4px;
    font-weight: 400;
    font-size: 15px;
}

.destination {
    cursor: pointer;
    margin: 7px 0px;
    padding-top:5px;
    font-weight:500;
    font-size:20px;
}
